.button {
	display: inline-block;
	margin-top: -3px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 35px;
	border: 2px $red solid;
	padding: 15px 30px;
	background: $red;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	font-weight: 700;
	color: white;
	transition: $transition;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		border-color: $red-dark;
		background-color: $red-dark;
		transform: scale($scale-up);
		&.prev {
			transform: rotate(180deg) scale($scale-up);
		}
	}
	&.prev {
		transform: rotate(180deg);
	}
	&.button--reverse {
		border-color: white;
		background-color: white;
		color: $red;
		svg {
			position: relative;
			top: -1px;
			height: 10px;
		}
		path {
			fill: $red;
			transition: $transition;
		}
		&:hover {
			color: $red-dark;
			path {
				fill: $red-dark;
			}
		}
	}
	&.button--spot {
		position: relative;
		top: 3px;
		margin-top: 0;
		padding: 12px;
		img.svg {
			width: 17px;
			height: 17px;
		}
		svg {
			height: 17px;
			width: 17px;
			path {
				fill: white;
			}
		}
	}
}

.our-work-button-spacer {
	display: inline-block;
	width: 30px;
}