body {
	margin: 0;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: $transition;
	&.highlight {
		color: $red;
		border-bottom: 1px $red solid;
		cursor: pointer;
		&:hover, &:active, &:focus, &:focus-visible, &:focus-within {
			color: $red-dark;
			border-bottom-color: $red-dark;
		}
	}
	&:hover, &:active, &:focus, &:focus-visible, &:focus-within {
		color: $red-dark;
	}
}
