*, *::before, *::after {
	box-sizing: border-box;
}
section {
	margin: 50px 0;
	@media (min-width: $bp--md) {
		margin: $gutter--lg 0;
	}
}
.gutter {
	margin-top: $gutter;
}
.finger {
	width: 100%;
	.finger__text {
		padding: 5% 5% 0 5%;
	}
	.finger__image {
		padding: 0 5% 0 0;
		> img {
			object-fit: cover;
			width: 100%;
			aspect-ratio: $aspect-ratio--pill--h;
			border-radius: $border-radius--finger--left;
		}
	}
	@media (min-width: $bp--md) {
		display: flex!important;
		flex-direction: row-reverse;
		.finger__text {
			width: 40%;
			padding: 0 2.5% 0 5%;
		}
		.finger__image {
			width: 60%;
			padding: 0;
			> img {
				width: 100%;
				border-radius: $border-radius--finger--right;
			}
		}
	}
	&.finger--slick-work {
		@media (min-width: $bp--md) {
			flex-direction: row;
			.finger__text {
				width: 40%;
			}
			.finger__image {
				position: relative;
				width: 60%;
				margin-top: -40px;
				margin-bottom: -60px;
				.slick-slider::after {
					content: "";
					position: absolute;
					top:0;
					left:0;
					width: 2.5%;
					height: 100%;
					background: linear-gradient(90deg, white 0%, transparent 100%);
				}
			}
			.card {
				position: relative;
				&:nth-child(4n + 1) { // second
					margin-top: 60px;
				}
				&:nth-child(4n + 2) { // third
					margin-top: 20px;
				}
				&:nth-child(4n + 3) { // fourth
					margin-top: 40px;
				}
			}
		}
		@media (min-width: $bp--lg) {
			.finger__text {
				width: 33%;
			}
			.finger__image {
				width: 67%;
			}
		}
		.finger__image {
			padding: 0;
		}
	}
}
.modal-bio {
  position: fixed;
  left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	visibility: hidden;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: $transition;
  z-index: 20;
	height: 100%;
	min-height: 100vh;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	.modal-bio--text {
		padding: $gutter;
	}
	
	.modal-bio--image {
		width: 100%;
		max-height: 70vh;
		aspect-ratio: 1/2;
		object-fit: cover;
	}
	@media (min-width: $bp--lg) {
		overflow: hidden;
		.modal-bio--image {
			max-height: 100vh;
		}
		.modal-bio--text {
			display: flex;
			align-items: center;
			padding: 0 $gutter;
		}
	}
	.button.button--exit {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}
@media (min-width: $bp--xxxl) {
	.container-xxl {
		min-width: 1600px;
	}
}