*, *::before, *::after {
	box-sizing: border-box;
}
section {
	margin: 50px 0;
	@media (min-width: $bp--md) {
		margin: $gutter--lg 0;
	}
}
.finger {
	width: 100%;
	.finger__text {
		padding: 5% 5% 0 5%;
	}
	.finger__image {
		padding: 0 5% 0 0;
		> img {
			object-fit: cover;
			width: 100%;
			aspect-ratio: $aspect-ratio--pill--h;
			border-radius: $border-radius--finger--left;
		}
	}
	@media (min-width: $bp--md) {
		display: flex!important;
		flex-direction: row-reverse;
		.finger__text {
			width: 40%;
			padding: 0 2.5% 0 5%;
		}
		.finger__image {
			width: 60%;
			padding: 0;
			> img {
				width: 100%;
				border-radius: $border-radius--finger--right;
			}
		}
	}
	&.finger--slick-work {
		@media (min-width: $bp--md) {
			flex-direction: row;
			.finger__text {
				width: 40%;
			}
			.finger__image {
				position: relative;
				width: 60%;
				margin-top: -40px;
				margin-bottom: -60px;
				&::after {
					content: "";
					position: absolute;
					top:0;
					left:0;
					width: 2.5%;
					height: 100%;
					background: linear-gradient(90deg, white 0%, transparent 100%);
				}
			}
			.card {
				position: relative;
				// &:nth-child(3n + 1) {
				// }
				&:nth-child(3n + 2) {
					margin-top: 60px;
				}
				&:nth-child(3n) {
					margin-top: 20px;
				}
			}
		}
		@media (min-width: $bp--lg) {
			.finger__text {
				width: 33%;
			}
			.finger__image {
				width: 67%;
			}
		}
		.finger__image {
			padding: 0;
		}
	}
}