// Colours
$red: #e51d41;
$red-dark: darken($red, 5%);

// Borders
$border-radius--full: 4000px;
$border-radius--hero: 15px;
$border-radius--finger--left: 0 $border-radius--full $border-radius--full 0;
$border-radius--finger--right: $border-radius--full 0 0  $border-radius--full;

// Margins
$margin--header--v: 20px;
$margin--widest--h: 40px;

// Transitions
$transition: all 0.3s ease;
$transition--slow: all 0.6s ease;

// Breakpoints
$bp--sm: 576px;
$bp--md: 768px;
$bp--lg: 992px;
$bp--xl: 1200px;
$bp--xxl: 1400px;

// Scaling
$scale-up: 1.03;

// Aspect ratio
$aspect-ratio--pill--v: 7/10;
$aspect-ratio--pill--h: 10/7;
$aspect-ratio--service--h: 2/1;