// Colours
$red: #e51d41;
$red-dark: darken($red, 5%);

// Borders
$border-radius--full: 4000px;
$border-radius--hero: 15px;
$border-radius--finger--left: 0 $border-radius--full $border-radius--full 0;
$border-radius--finger--right: $border-radius--full 0 0  $border-radius--full;

// Margins
$margin--header--v: 20px;
$margin--widest--h: 40px;
$margin--card: 2.5%;
$margin--card--x2: 5%;
$gutter--lg: 150px;
$gutter: 60px;
$gutter--sm: 30px;
$gutter--xs: 15px;

// Transitions
$transition: all 0.3s ease;
$transition--slow: all 0.6s ease;

// Breakpoints
$bp--sm: 576px;
$bp--md: 768px;
$bp--lg: 992px;
$bp--xl: 1200px;
$bp--xxl: 1400px;
$bp--xxxl: 1700px;

// Scaling
$scale-up: 1.03;

// Aspect ratio
$aspect-ratio--finger--m: 10/7;
$aspect-ratio--finger--d: 2/1;
$aspect-ratio--pill--v: 7/10;
$aspect-ratio--pill--h--m: 2/1;
$aspect-ratio--pill--h--d: 2/1;