#work-filters {
	.filter-by {
		display: inline-block;
		text-transform: uppercase;
		font-size: 15px;		
	}
	.label {
		margin: 5px;
	}
}
#work-cards {
	margin-top: 20px;
	.card {
		width: calc(50% - #{$margin--card--x2});
	}
	// first nine are featured
	.card:nth-child(-n+9) {
		width: 100%;
	}

	@media (min-width: $bp--md) {
		.card {
			width: calc(25% - #{$margin--card--x2});
		}
		.card:nth-child(-n+9) {
				width: calc(33.3% - #{$margin--card--x2});
		}
	}
}