#work-filters {
	.filter-by {
		display: inline-block;
		text-transform: uppercase;
		font-size: 15px;		
	}
	.label {
		margin: 5px;
	}
}
#work-cards {
	.cards.work-cards--primary {
		padding-bottom: $gutter;
	}
	.cards.work-cards--secondary {		
		.card .text {
			.card__header--sm {
			}
			.card__header--lg {
				margin-top: 0;
				margin-bottom: 4px;
				@media (min-width: $bp--lg) {
					font-size: 1.5vw;
				}
			}
			.label {
				margin-bottom: 7px;
				padding: 0 6px 1px 6px;
			}
		}
		.button.button--spot {
			padding: 8px;
			svg {
				max-height: 14px;
				max-width: 14px;
			}
		}
	}

	// mobile only
	@media (max-width: $bp--md) {
		.card {
			.button--spot {
				background-color: transparent;
				border: none;
				svg path {
					fill: white
				}
			}
		}
		.cards.work-cards--primary .card {
			width: 100%;
			max-width: 100%;
			border-radius: 0 $border-radius--full $border-radius--full 0;
			margin: 0 $margin--card--x2 0 0;
			aspect-ratio: $aspect-ratio--finger--m;
			&:nth-child(2n) {
				border-radius: $border-radius--full 0 0 $border-radius--full;
				margin: 0 0 0 $margin--card--x2;
				.text {
					left: 0;
				}
				.card__img>img {
					object-position: top left;
				}
				.card__img.gradient-1::after {
					background: linear-gradient(-90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
				}
			}
			.card__img>img {
				object-position: top right;
			}
			.card__img.gradient-1::after {
				background: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0.7) 100%);
			}
			.text {
				bottom: 50%;
				transform: translateY(50%);
				right: 0;
				width: 66%;
				padding: 5% 12% 0% 12%;
				.button--spot {
					margin-bottom: 0;
				}
			}
		}
		.cards.work-cards--secondary {
			margin-left: $margin--card;
			margin-right: $margin--card;
			.card {
				width: calc(50% - #{$margin--card--x2});
			}
		}
	}

	// medium breakpoint and up
	@media(min-width: $bp--md) {
		.cards {
			margin-left: $margin--card;
			margin-right: $margin--card;
		}
	}

	@media (min-width: $bp--md) {
		.cards.work-cards--primary .card {
			width: calc(50% - #{$margin--card--x2});
		}
		.cards.work-cards--secondary .card {
			width: calc(33.3% - #{$margin--card--x2});
		}
	}

	// hide label, just for secondary case studies up to the extra large breakpoint
	@media (max-width: $bp--xl) {
		.cards.work-cards--secondary .text .label {
			display: none;
		}
	}

	@media (min-width: $bp--lg) {
		.cards.work-cards--primary .card {
			width: calc(33.3% - #{$margin--card--x2});
		}
		.cards.work-cards--secondary .card {
			width: calc(25% - #{$margin--card--x2});
		}
	}
}